@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;

  /* added below */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;

  /* added below */
  padding: .5rem;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

/* added selector */
ul {
  list-style: none;
  margin: 0;
  padding: 1rem;
}

/* added selector */
a {
  text-decoration: none;
  color: #666;
}

.header {
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  background-color: #eeeeee;
  display: flex;
}

.left-links {
  margin-right: auto;
  display: flex;
  gap: 1rem;
}

.right-links {
  margin-left: auto;
  display: flex;
  gap: 1rem;
}